# 默认关键字（没有匹配时执行）
default_keyword:
  command: ":help"
  
# 预设关键字列表
keywords:
  - keyword: "粤语|粤语歌单"  # 支持同义词
    command: ":playlist 粤语经典 官方;即将播放{user_name}的粤语歌单"
    is_public: true  # 所有人可执行
    
  - keyword: "帮助|help"
    command: ":help"
    is_public: true
